body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c5469;
    padding: 15px 20px;
}

.logo {
    background-color: #c49a6c;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-buttons {
    display: flex;
    gap: 10px;
}

.nav-btn {
    background-color: #c49a6c;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color : white;
}

a{
    text-decoration: none;
    color: white;
}

/* Kotak Info Umum */
.info-box {
    background-color: #8b6f4e;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 20px;
  }

.info-box.rate-box{
    height:150px;
    width: 150px;
}
  
  /* Kotak Rating */
  .rating-box {
    background-color: #8b6f4e;
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 1003px;
    height: 24px;
    margin-left: 240px;
    float: none;
    margin-top: -67px;
  }
  
  /* "Share your thoughts" dan "see all" */
  .share-thoughts {
    width: 60px;
    height: 10px;
    font-size: 10px;
    background-color: #8b6f4e;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
  }

  .see-all {
    width: 60px;
    height: 10px;
    font-size: 10px;
    background-color: #8b6f4e;
    color: white;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    margin-top: -60px;
    float:right;
  }

.rating{
    margin-top: 40px;
}
  
  /* Text Box (Area Penulisan Review) */
#textbox {
    background-color: #c49a6c;
    color: white;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 1122px;
  }
  
.back-container {
    background-color: #2c5469;
    padding: 20px;
    margin-top: 60px;
    text-align: center;
  }
  
.back-btn {
    color: white;
    border: none;
    background-color: #2c5469;
    font-size: 30px;
    font-weight: bold;
    padding-top: 16px;
}

.btn.btn-primary{
    color: white;
    background-color: #c49a6c;
    border: none;
    width: 90px;
    height: 30px;
    border-radius: 3px;
    margin-top: 15px;
    float: right;
    margin-right: 20px;
}
