* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Background utama */
body {
    background-color: #f9f3fc; /* Warna ungu muda */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container utama */
.container {
    text-align: center;
}

/* Title */
h2 {
    color: #ffffff;
    margin-bottom: 10px;
}

/* Form Input */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

input {
    padding: 10px;
    border: none;
    color: white;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #8c6f4d; /* Warna coklat tua */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s;
}

button:hover {
    background-color: #a08360;
}

/* Link */
p {
    margin-top: 10px;
    font-size: 14px;
    color: white;
}

a {
    color: #d2aa6d;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

/* Background image */
.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../gambar/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1; /* Background tetap di belakang */
}

input::placeholder {
    font-size: 12px;
}